<head>
  <title>Teachers' Brigade</title>
  <link rel="shortcut icon" href="/img/favicon.ico?v=1" type="image/x-icon">
  <link rel="icon" href="/img/favicon.ico?v=1" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
</body>
