
col()
  column(arguments)

normalize-css();

body
  //font-size 24px
  font-family sans-serif
  box-sizing border-box
  background url("/img/water.jpg") repeat
  block()

h1
  h1()

h2
  h2()

h3
.hdr
  h3()

h4
  h4()

h5
  h5()

h6
  h6()


//debug(pink)

large = 900px
medium = 600px
small = 400px
bannercolor = blue
glow = blue
topY = 50px

+html5-inputs()
  input()
input[type='text']
  input: glow
  &.long
    width 800px
label
  label()
.notice
  notice: 90% lightcoral 20px
  center()
  p
    center()
    display table

#home section
  center(1200px)
  div
    stack()
    +desktop()
      col(1/2, gutter: .25)
    //.span4  // testing
    //  unstack()
    //  span(1/4)
    h3
      center()
      display table
      font-size 3rem

.bigtext
  font-size 22px

.cbq
  box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
  background-color: #f5f5f5;
  padding: 5px 15px
  border-radius: 5px;
  margin: 7px 0;
  &.yes
    background green
  label
    cursor pointer
.q
  field: right 440px
.flash
  flash()
.radio
  radio()
.blue
  background(lighten(blue,20%))
html input[type=text].adisabled
  input-disabled()
.ui.striped.table tbody tr.hover
  cursor pointer
  &:hover
    background(lighten(blue,60%))
.group
  group()
div.header .main.menu
  background bannercolor
  height topY
div.header.fixed
  padding-bottom 60px
.bigtable
  //width 100%
  overflow-y auto
  table.ui
    margin auto
    width 70%
  //tbody tr td + td
  //  min-width 200px
.login-link-text
  color white
  &:hover
    color wheat
.admin
  color red
.notActive
  text-decoration line-through
.testData
  color: cadetblue
  //text-decoration underline double
.save-cancel
  margin 10px
.pointer
  cursor pointer
.maxIdWidth
  max-width 70px
.tag
  color tomato
  font-size larger

// semantic overrides
.ui.card
  background-color: ghostwhite
.ui.rail
  height auto
.bubbleUnder
  bubble: top center red
  p
    font-size: 1.5em
    color: aliceblue
    background-color: black
.field.error .error
  background-color: tomato

//IDs
#changelog
  margin 10px
#preference_page
  col( 2/3, offset: 1/6)
  margin-bottom: 30px
#logo > a > img
  height topY
#appHeading h1
  text-align center
  //+desktop()  // rupture: test only
  //  color red
  //hover-glow(purple, 100px)  //axis: test only
#body-main
  max-width 1024px
  margin-bottom 12px

#gototop {
  bottom: 0;
  position: fixed;
  left: 0;
  opacity: 0.5;
  &:hover {
    opacity: 0.9;
  }
}
// edit above *HERE*


// non specific examples I got other places
button
  button: green
  //button: green 'large'
  &.disabled
  &:disabled
    background(lighten(bannercolor,40%))
    cursor default
footer
  col(1)
  background darken(bannercolor, 40%)
  color aliceblue
  margin-bottom 200px
  p
    margin auto 15px auto 15px
    .version
      margin-left 10px
      font-size 14px
      float right
    a
      color aliceblue
      font-size 14px
      float right
section.nopage
  min-height 600px
  div
    center()
    display inline-block
    margin 200px

// tests, temporary
// (no effect)
.save-cancel
#profile
  group()

#contact-status
  inline-list()
  li
    rounded()
    padding 0 5px
  //area()

