<template name="card">
  <div class="ui raised card" {{b "hover:parent.rowHover(false)"}}>
    <div class="image">
      <img {{b "attr: { src: imageUrl }"}} src="">
    </div>
    <div class="content" {{b "if:hasTags"}}>
      {{#each roles}}
        <span class="ui tag label pink " {{b "text:this"}}></span>
      {{/each}}
      <span class="ui tag label teal" {{b "if:parent.isTeacher, text:'Teacher'"}}></span>
      <span class="ui tag label teal" {{b "if:parent.isVolunteer, text:'Volunteer'"}}></span>
      <span class="ui tag label yellow" {{b "unless:parent.isActive, text:'Inactive'"}}></span>
      <span class="ui tag label grey" {{b "if:parent.isTestData, text:'Test Data'"}}></span>
      <span class="ui tag label black" {{b "unless:isUser, text:'Not a User'"}}></span>
    </div>
    <div class="content">
      <div class="header" {{b "if:parent.name, text: parent.name"}}></div>
      <div class="meta" {{b "if:parent.username, text: parent.username"}}></div>
    </div>
    <div class="extra content">
      <div>
        <i class="call icon"></i>
        <span {{b "text: parent.number"}}></span>
      </div>
    </div>
    <div class="extra content">
      <div>
        <i class="mail icon"></i>
        <span {{b "text: parent.email"}}></span>
      </div>
    </div>
  </div>
</template>
