.ui.menu.container.vertical
  .item($b="if:showSearch")
    .ui.icon.input
      input(placeholder="Search...", $b="value:searchText, throttle:400, style:style")
      i.search.link.icon($b="if:!searchText")
      i.remove.link.icon($b="if:searchText, click:searchText('')")
  each buttons
    .item.ui.button($b="text:this, click:select(this), class:{active: active(this)}")
