template(name="change_log")
  #changelog
    h2 Recent changes
    ul
      li 4/16/2018 - v0.5.3: Add Job type (Task)
      li 2/07/2018 - v0.5.2: change home text.  Put online as beta
      li 1/19/2018 - v0.5.1: add and update Job
      li 1/15/2018 - v0.5.0: Teacher and Volunteer basic preferences
      li 1/15/2018 - v0.4.1: update Teachers and Volunteers from User and visa-versa
      li 1/10/2018 - v0.4.0: edit Teacher preferences
      li 12/20/2017 - v0.3.9: create Teacher or Volunteer from User
      li 12/12/2017 - v0.3.8: validity checks on input. Edit user info. Methods for Collection writing
      li 12/7/2017 - v0.3.7: basic Dashboard working
      li 11/28/2017 - v0.3.6: start of Dashboard
      li 11/24/2017 - v0.3.5: redirect page upon login
      li 11/23/2017 - v0.3.4 - create Admin file menu.  Add Volunteers table.  Cards work with Users lists.
      li 11/22/2017 - v0.3.1 - add Admin page.  Add search
      li 10/31/2017 - v0.2.1 - better "all users" screen
      li 10/27/2017 - v0.2.0 - add permissions to routes
      li 6/13/2017 - v0.1.2 edit users from "all users" screen
      li 6/7/2017 - v0.1.1 add roles
      li 5/17/2017 - v0.1 show all users screen
      li 5/13/2017 - All the profile data will now be saved.
      li 5/8/2017 - require login; update some fields in "Profile" page
      li 3/24/2017 - all check boxes work correctly on sign-up page
      li 3/22/2017 - added all fields to sign-up page
      li 3/15/2017 - start of sign-up page: questions with checkboxes
      li 3/1/2017 - Added navigation, change log (this)
