.ui.two.column.grid.top.attached
  .column
    .ui.button.fluid( $b="click:showContacts, text:noun, class: {positive:!editMode}")
  .column
    .ui.button.fluid( $b="unless:usersColl, click:editClick, text:editText, class: {positive:editMode}")
if editMode
  if TVType
    +editTeacher(id=sid)
  else if nounIs("Users")
    +editTeacher(id=sid)
  else if nounIs("Tasks")
    +editTask(id=sid)
else
  if TVType
    +listTeachers
  else if nounIs('Users')
    +listUsers
  else if nounIs("Tasks")
    +listTasks
  else
    +not_yet
