.dashboard
  h1 Dashboard
  hr
  section.status.group
    div.ui.cards
      .item
        +card
        button($b="click:edit1") Edit
      .item
        if isVolunteer
          +prefCardV
        else if isTeacher
          +prefCardT
        else
          +prefCard
  section.lists($b="if:isVolunteer || isTeacher")
    h2 Jobs
    +listJobs
