.dashboard
  //button
  //  center()
  h1
    color blue
  center(60%)
  .status
    .item
      column(1/3, $cycle:3)
      border: dashed 1px
      // ^ remove when done
  .lists
    margin 40px
    h2
      bubble()
  .ui.card
    height 90%
