.ui.attached.segment
  .ui.two.column.grid
    .ui.column
      form.ui.form
        .field.required( $b="class: {error:updateHover && !validID(code)}")
          label Unique ID
          input(placeholder="code", $b="value:code" )
          span( class='error', $b="hide:validID(code)") Must be at least 2 letters and unique.
        .field.required( $b="class: {error:updateHover && !name.valid}")
          label Task Name
          input(placeholder="Task Name", $b="value:name" )
          span( class='error', $b="hide:name.valid") Must be at least 4 letters.
        .field
          label Description
          span <textarea rows=3, placeholder="Description" {{b "value:description"}}></textarea>
        if isAdmin
          .field
            if allowInactive
              +TFquestion( isChecked=(vmRef "isActive") text="Active")
            +TFquestion( isChecked=(vmRef "isTestData") text="Set to 'test data' (not seen by real users)")
        .field
          button.ui.button($b="text:updateText, hover:updateHover, class {primary:canUpdate}")
          button.ui.button(type='button', $b="text:'Cancel', click:cancel")
