.job_page
  h1 Volunteer Job Details
  hr
  .main.group
    section
      h4 Details:
      each fields
        b($b="text:title(this)+' : '")
        span($b="text:field(this)")
        br
      div
        b Created:
        span #{formatDate createdAt 'cal'}
      div($b="if:modifiedAt")
        b last modified :
        span #{formatDate modifiedAt 'cal'}
    section
      form.ui.form
        .field
          label Type of job
          select(
          $b="options:tasks, value:taskId, optionsValue:_id, optionsText:jobname, defaultText:'-select a task-', defaultValue='0', focus:focus1"
          )
        .field.required($b="class: {error:updateHover && !jobName.valid()}")
          label Job Name
          input(placeholder="Name", $b="value:jobName" )
        .field
          label Job Description
          span <textarea rows=3, placeholder="Description" {{b "value:jobDescription"}}></textarea>
          //textarea(rows="3", $b="value:jobDescription")
        .field
          button.ui.button($b="text:updateText, hover:updateHover, class {primary:canUpdate}")
          button.ui.button(type='button', $b="text:'Cancel', click:cancel")
  .lists
    h2 Volunteers
    hr
    .volunteerBox
      +listVolunteers

