div($b="if:teachers.count")
  table.ui.attached.table.striped
    thead
      th
      if amAdmin
        th ID
      th Name
      th Number
      th Email
      th Username
      if amAdmin
        th
      th
        i.remove.icon(style="visibility:hidden")
    tbody
      each teachers
        +oneTeacher
div($b="hide:teachers.count")
  .nothing
    h1 No records found
