button($b="click:rowClick, if:teacherId") Add new
div($b="if:jobs.count")
  table.ui.attached.table.striped
    thead
      th.maxIdWidth
      th Created
      th Type
      th Name
      th Job
      th
        i.remove.icon(style="visibility:hidden")
    tbody
      each jobs
        +oneJob
div($b="hide:jobs.count")
  .nothing
    h1 No records found
