div($b="if:items.count")
  table.ui.attached.table.striped
    thead
      th username
      th Name
      th Number
      th City
      th State
    tbody
      each items
        +oneVolunteer
div($b="hide:items.count")
  .nothing
    h1 No matching records found
