div($b="if:tasks.count")
  table.ui.attached.table.striped
    thead
      th
      if amAdmin
        th ID
      th Code
      th Name
      th Added By
      th
        i.remove.icon(style="visibility:hidden")
    tbody
      each tasks
        +oneTask
div($b="hide:tasks.count")
  .nothing
    h1 No records found
