tr.pointer($b="hover:rowHover, click:rowClick, class: {warning:rowHover, notActive:!isActive, testData:isTestData}")
  td.maxIdWidth
    if isAdmin
      | #{_id}
  td #{formatDate createdAt 'D'}
  td #{xTask.code}
  td #{jobName}
  td #{jobDescription}
  td
    i.remove.icon.red($b="if: rowHover, click:delete, attr:{title:deleteTitle}")
