tr.pointer($b="hover:rowHover, click:rowClick, class: {warning:rowHover, admin:isAdmin, notActive:!isActive, testData:isTestData}")
  td
    img.ui.avatar.image(src="#{thumbnail}")
    if rowHover
      .ui.form
        .ui.left.rail(style="top: -200px")
          +card
  if amAdmin
    td #{_id}
  td #{name}
  td #{number}
  td #{email}
  if nounIs('Users')
    td #{username}
    td #{userType}
  td
    i.remove.icon.red($b="if: rowHover, click:delete, attr:{title:deleteTitle}")
