tr.pointer($b="hover:rowHover, click:rowClick, class: {warning:rowHover, admin:isAdmin, notActive:!isActive, testData:isTestData}")
  td
  if amAdmin
    td #{_id}
  td #{code}
  td #{name}
  td #{addedBy}
  td
    i.remove.icon.red($b="if: rowHover, click:delete, attr:{title:deleteTitle}")
