template(name="loginPage")
  section.nopage.bigtext
    div
      p Login landing page
template(name="header")
  .header
    .ui.main.menu.inverted.container
      #logo.title.item
        a(href="/")
          img(src="/img/colorful-raised-hands-vectors.jpg" width="100px")
      .item.inverted
        +loginButtons
      if currentUser
        +link(name='dashboard' text="Dashboard")
        //+link(name='profile' text="Profile")
        //+link(name='signup' text="Profile1")
        if isAdmin
          +link(name='admin')
      +link(name='train' text="Training")
      +link(name='hug' text="Hug-a-book")
  #appHeading
    h1 Teachers' Brigade
template(name="footer")
  footer
    p footer
      span.version Version #{version} -BETA-
      if currentUser
        a(href="/changes") See latest changes
  #gototop.hidden.transition
    .circular.ui.icon.button($b="click:top" title="Scroll to top")
      i.large.arrow.up.icon

template(name="not_yet")
  section.nopage.bigtext
    div
      p page not written yet
template(name="link")
  a.item(
  href=path,
  class=active,
  $b="text:display"
  )
