div.ui.raised.card
  .image
    i.fa.fa-address-card-o.fa.fa-3x
    span Volunteer Details
  .content
    each fields
      b($b="text:title(this)+' : '")
      span($b="text:field(this)")
      br
button($b="if:canUpdate, click:edit") Edit Preferences
