div($b="if:cat, class:cat"
)
  .hdr Please mark any of the programs below that you are interested in
  +pref_question(
    box='q1'
    text='Teacher mentor.'
    tText='I need a'
    vText='I can be a'
    skipNT='1'
  )
  +pref_question( box='q2' text='Adopt a classroom, grade level, or school.')
  +pref_question( box='q3' text='help with assessments one or more grade periods.' skipNT='1')
  +pref_question( box='q4' text='Help set up and maintain a Read at Home program for a class.' skipNT='1')
  +pref_question( box='q5' text='Tutor individual students in literacy.')
  +pref_question( box='q6' text='Tutor individual students in math.')
  +pref_question( box='q7' text='Implement after-school enrichment clubs.')
  +pref_question( box='q8' text='Be a "once a week" lunch buddy.')
  +pref_question( box='q9' text='Be a speaker on a specific subject.')
  +pref_question( box='qa' text='teach a special activity.')
  +pref_question( box='qb' text='Help with room decor and/or materials for class instruction.')
  +pref_question( box='qc' text='Teach English to interested parents.')
  +pref_question( box='qd' text='Give parent workshops to interested parents.' skipNT='1')
  .cbq(
      $b="class: {yes: other}"
    )
    div
      input( type="checkbox",
      $b="check: other"
      )
      label Other
    div($b="if:other"
    )
      input.long( type="text")

