div.ui.raised.card
  .image
    i.fa.fa-info-circle.fa-5x
    | Details
  if validUser
    .content
      .radio-buttons
        fieldset
          legend I am a
          label.radio(for="i1")
            input#i1(type="radio",value="T",name="newType",$b="group:newType"
            )
            span.bigtext Teacher
          label.radio(for="i2")
            input#i2(type="radio",value="V",name="newType",$b="group:newType"
            )
            span.bigtext Volunteer
    .extra.content
      p Once you set your user type, you can edit your preferences.  If you ever want to discontinue being that type
        | of user, just set your preference to "not active".
      button($b="if:newType, click:save") Save
  else
    .content
      .bubbleUnder
        p Once you fill in both your Name and your Phone Number you can select Teacher or Volunteer here.
