.ui.one.column.centered.grid
  #body-main.column
    .ui.two.column.grid
      .ui.column
        +card
      .ui.column
        h3 Volunteer Preferences for #{name}
        form.ui.form
          .field
            label Address
            input( placeholder="address", $b="value:address, change:hasChanged")
          .field
            label City
            input( placeholder="city", $b="value:city, change:hasChanged")
          .field
            label State
            input( placeholder="state", $b="value:state, change:hasChanged")
          .field
            label Zip Code
            input( placeholder="ZIP", $b="value:zip, change:hasChanged")

          .field
            button.ui.button($b="class {primary:canUpdate}, change:hasChanged") Update
            button.ui.button(type='button', $b="text:'Cancel', click:cancel, change:hasChanged")

