.ui.one.column.centered.grid
  #body-main.column
    .ui.two.column.grid
      .ui.column
        +card
      .ui.column
        h3 Teacher Profile for
          b($b="text:name, style: {color: nameColor}")
        form.ui.form
          .field
            label First year of service
            input( placeholder="year", $b="value:YOS, change:hasChanged")
          .field
            label District Name
            input( placeholder="District", $b="value:district, change:hasChanged")
          .field
            label School Name
            input( placeholder="School", $b="value:school, change:hasChanged")
          .field
            label Grade level
            input( placeholder="Grade", $b="value:grade, change:hasChanged")
          .field
            label State Teacher Certificate Number
            input( placeholder="certificate", $b="value:certNo, change:hasChanged")

          .field
            button.ui.button($b="class {primary:canUpdate}, change:hasChanged") Update
            button.ui.button(type='button', $b="text:'Cancel', click:cancel, change:hasChanged")

