.save-cancel
  button.save.ui.button(
    $b="click: update, text: updateText, class: { primary:canUpdate }, enable:name.valid"
  )
  //title='not active') {{contextText}}
  button.cancel.ui.button($b="click:cancel") Cancel
#profile
  .q
    label Username
      input(
      type="text",
      disabled="",
      $b=", class: 'adisabled', value: username"
      )
  #contact
    +question( fld=name name="name" ph="Your name" text="Full Name")
    +question( fld=email name="email" ph="email" text="email" className="adisabled" lock=true)
  .radio-buttons
    fieldset
      legend I am
      label.radio(for="i1")
        input#i1(type="radio",value="i1",name="cat",$b="group:cat"
        )
        span A teacher looking for volunteer help
      label.radio(for="i2")
        input#i2(type="radio",value="i2",name="cat",$b="group:cat"
        )
        span A former teacher wanting to volunteer
      label.radio(for="i3")
        input#i3(type="radio",value="i3",name="cat",$b="group:cat"
        )
        span A non-teacher wanting to volunteer
  #contact-details
    div($b="if:isTeacher"
    )
      +question( fld=schoolDistrict name="schoolDistrict" ph="School District" text="District")
      +question( fld=schoolName name="schoolName" ph="school name" text="school")
      +question( fld=schoolGrade name="schoolGrade" ph="grade level" text="grade")
    div($b="if:wasTeacher"
    )
      +pref_question( box="retired" text="I am a retired teacher" vText="" tText="")
      +pref_question( box="certActive" text="My certificate is still active" vText="" tText="")
      //div($b="if:certActive"
      //)
      +question( fld=certificate name="certificate" ph="certificate number" text="My certificate #")
    div($b="if:nonTeacher"
    )
      p Training status: not completed

  ul#contact-status($b="if:cat")
    li Status:
    li(
     $b="class: {blue: isTeacher}"
    ) Teacher
    li(
     $b="class: {blue: isVolunteer}"
    ) Volunteer
    li(
     $b="class: {blue: isRetired}"
    ) Retired
    li(
     $b="class: {blue: wasTeacher}"
    ) Was teacher
