.ui.attached.segment
  .ui.two.column.grid
    .ui.column
      .dummy
        +card
    .ui.column
      form.ui.form
        .field( $b="class: {error:updateHover && !validUsername(username)}")
          label Username
          input(placeholder="username", $b="value:username, attr {disabled:usernameDisabled}" )
        .field.required( $b="class: {error:updateHover && !name}")
          label Full Name
          input(placeholder="Name", $b="value:name" )
        .field.required( $b="class: {error:updateHover && !validNumber(number)}")
          label Phone Number
          input( placeholder="Number", $b="value:number")
        .field.required( $b="class: {error:updateHover && !validEmail(email)}")
          label Email
          input( placeholder="Email", $b="value:email")
        if isAdmin
          .field
            +TFquestion( isChecked=(vmRef "notActive") text="Not Active")
            +TFquestion( isChecked=(vmRef "isTestData") text="Set to 'test data' (not seen by real users)")
        .field
          button.ui.button($b="text:updateText, hover:updateHover, class {primary:canUpdate}")
          button.ui.button(type='button', $b="text:'Cancel', click:cancel")
          if validUser
            .btn3
              button.ui.button(type='button', $b="if:hasProfile, text:'Edit Profile', click:profileClick, style:style.btn3, hover:updateHover, class {primary:canUpdate}")

if _id
  .ui.bottom.attached.segment($b="if:nounIs('Users')")
    form.ui.form
      .field
        label Picture
          p Upload button here
