//
  Created by Jerry on 5/15/2017.
  ##todo - delete
template(name="users")
  if currentUser
    .bigtable
      table.ui.celled.table.striped
        caption All Users
        thead
          tr
            th Username
            th Name
            th Email
            th Type
            th Roles
        tbody
          +each userRows
            +userRow
  else
    .pleaseLogin Please log in

template(name="userRow")
  tr.hover($b="click:onClick, class:isAdmin")
    td
      = username
    td #{name}
    td #{email}
    td #{userType}
    td #{allRoles}

