template(name="home")
  #home.bigtext
    section
      div
        img(src="/img/colorful-raised-hands-vectors.jpg" width="500px")
      div
        h3 Teachers' Brigade
        p ...is a platform designed to connect current teachers with skillful volunteers, to help every teacher and class to have the best year yet!
          b.tag You can help!
        p Our children attending public schools are at risk!  According to an article in NEA Today magazine more than 51%
          | of children enrolled in the public school system nationwide are living at poverty level or below.
    section
      p Now, more than ever, children need our support!  Interested?  Click on the "Sign in" link, the "Create Account" if you are new here.
      p If you are a
        b.tag Teacher
        | you can create and describe activities you would like help with from volunteers.  Then search and select the right
        | volunteer for the job.
      p If you are a
        b.tag Volunteer
        | you can select what types of activities you would like to volunteer for and which schools or district you would volunteer in.
