<template name="editContact">
  <div class="ui attached segment">
    <div class="ui two column grid">
      <div class="ui column">
        <form class="ui form">
          <div class="field required" {{b "class: { error: upsertHover && !name }"}}>
            <label>Name</label>
            <input type="text" placeholder="Name" {{b "value: name"}}>
          </div>
          <div class="field required" {{b "class: { error: upsertHover && !number }"}}>
            <label>Number</label>
            <input type="text" placeholder="Number" {{b "value: number"}}>
          </div>
            {{> emailtest fld=email name='email'}}
            value: {{email}}
          <div class="field">
            <div class="ui button" {{b "click: upsert, text: upsertText, hover: upsertHover, class: { primary: canUpsert }"}}></div>
          </div>
        </form>
      </div>
    </div>
  </div>
    {{> formTest }}
</template>
<template name="emailtest">
    <div class="field required" {{b "class: { error: parent.upsertHover && !parent.validEmail(parent.email) }"}}>
        <label>Email</label>
        <input type="email" placeholder="Email" {{b "value: fld"}}>
        <input type="text" {{b "value: parent[name]"}}>
    </div>
</template>

<!--
test
-->

<template name="formTest">
<div>{{> fieldTest fld=name name='name'}} value: {{name}}</div>
<div>{{> fieldTest1 fld=city name='city'}} value: {{city}}</div>
<div>{{> fieldTest2 fld=color name='color'}} value: {{color}}</div>
<div>{{> fieldTest3 text=(byRef 'city') }}  value:  ( <span {{b "text:city"}}></span> ) </div>
</template>
<!-- trying to make a generic input-->
<template name="fieldTest">
    <!--this one works-->
    <input type="text" {{b "value: fld"}}>
</template>
<template name="fieldTest1">
    <!--so try without autorun - doesn't update-->
    <input type="text" {{b "value: fld"}}>
</template>
<template name="fieldTest2">
    <!--Try setting a separate value - doesn't render-->
    <input type="text" {{b "value: value"}}>
</template>
<template name="fieldTest3">
    <input type="text" {{b "value: text"}}>
    Blaze parent: {{parent.city}} <br/>
    VM parent: <span {{b "text:parent.city"}}></span>
</template>
