template(name="TFquestion")
  .cbq( $b="class: {yes: isChecked}" )
    input( type="checkbox", $b="check: isChecked, change: changed" )
    label( $b="click:click" )
      = text

template(name="pref_question")
  .cbq(
  $b="class: {yes: isChecked}, unless:ifSkip"
  )
    input(
    type="checkbox",
    $b="check: isChecked"
    )
    label(
    $b="click:click"
    )
      = partOne
      = text
template(name="question")
  .q
    label
      = text
      input(
      $b="placeholder: ph, class: className, value: fld, disable: lock"
      )
