.hdr Please mark any of the programs below that you are interested in
  if isNotEmpty(fullName)
    |  Hi #{fullName}
.q First Name
  +test_question(ref='firstName' required=true)
.q Last Name
  +test_question(ref='lastName' text='Smith')
button(
 $b="enable: firstName.valid && lastName.valid, click:logName"
)
  Log Name
